#mainGrid {
    -fx-opacity: 90%;
    -fx-background-size: cover;
}

#anchorPane {
    -fx-background-color: #f08080;
    -fx-background-image: url('../images/SantoriniBoard.png');
    -fx-opacity: 90%;
    -fx-background-size: cover;
}

#textArea1 {
    -fx-text-fill: papayawhip;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-control-inner-background: #4ee3e3;
    -fx-background-color: transparent;
    -fx-font-size: 30px;
    -fx-alignment: center;
}


#progressBar {
    -fx-control-inner-background: #30cafe;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}


.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: transparent;
}